:root {
    --background: #323232;
    --textColor: #FFFFFF;
    --fontFamily: 'Inter', sans-serif;
    --buttonColor: #0EA5E9;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--textColor);
    font-family: var(--fontFamily);
}

body {
    background-color: var(--background);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main h2 {
  margin-bottom: 10px;
}

main p {
    width: 380px;
    height: 45px;
    padding: 15px;
    background: #FFFFFF;
    color: #000000;
    border-radius: 5px;
    font-family: var(--fontFamily);
    font-weight: 500;
    font-size: 16px;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form div label {
    display: flex;
    flex-direction: column;
}

form div label input {
    width: 380px;
    height: 45px;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    padding-left: 5px;
    margin-top: 5px;
}

form div label input:focus {
    outline: none;
    border: 3px solid var(--buttonColor);
}


form div button {
    background-color: var(--buttonColor);
    color: var(--textColor);
    width: 180px;
    height: 45px;
    border-radius: 5px;
    transition-duration: 1s;
    border: none;
    font-size: 16px;
}

form div button:hover {
    background-color: #0369a1;
}

footer {
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer span {
    width: 400px;
    height: 2px;
    background-color: #FFFFFF;
}

footer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

footer div .emailLine {
    color: #7dd3fc;
}
